/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f8ff;
  /* Light blue background for a cleaner look */
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
.navbar {
  background-color: #4884a9;
}

.navbar-brand,
.nav-link {

  color: #c33737 !important;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #3d2e2e !important;
}



/* Header Styles */
.App-header {
  background-color: #1c1d1e;
  color: rgba(6, 114, 96, 0.918);
  padding: 20px 0;
}

h1 {
  color: #333333;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Footer Styles */
footer {
  background-color: #041b33;
  color: rgb(66, 28, 28);
  padding: 5px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}





